/* Media Quary For Mobile Styles */
@media only screen and (max-width: 700px) {
    body{
        font-family: 'Poppins', sans-serif;
        padding: 0;
        margin: 0;
    }
    header{
        background-color: #2D25A0;
        width: 100%;
        height: 695px;
    }
    .menu{
        display: none;
    }
    .title{
        font-size: 36px;
        color: white;
    }
    .title-banner{
        display: unset;
    }
    .watch-live{
        padding: 15px;
    }
    .banner{
        padding: 15px;
    }
    .banner img{
        width: 300px;
        height: 210px;
        padding: 15px;
        }
        .button-transition{
            text-decoration: none;
            display: inline-block;
            text-align: center;
            border: none;
            color: white;
            background-color: #E02C6D;
            font-size: 16px;
          }  
        .button-transition:hover{
            transform: none;
        }
        .players{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-row: 24px;
            padding-left: 10px;
            padding-right: 16px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .sign-up{
            width: 100%;
            background-color: blue;
            color: white;
            padding: 5px;
            margin-top: 100px;
        }
        .football-logo img{
            width: 125px;
            height: 30px;
        }
        .copy-write p{
            font-size: 18px;
            margin: 20px;
        }
}