body{
    font-family: 'Poppins', sans-serif;
}
/* header Styles */
header{
    background-color: #2D25A0;
    width: 100%;
    height: 677px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 121px 40px 150px;
}
.menu-name li{
    display: inline-block;
    color: white;
    font-size: 16px;
    padding: 0px 36px 0px 0px;
}
.button{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border: none;
    color: white;
    background-color: #E02C6D;
    font-size: 16px;
    padding: 8px 25px;
}
/* Title-Banner Styles */
.title{
    font-size: 64px;
    color: white;
}
.title-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 180px;
    padding-right: 140px;
}
.banner img{
    width: 560px;
    height: 460px;
}
/* Button Transition Styles */
.button-transition{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border: none;
    color: white;
    background-color: #E02C6D;
    font-size: 16px;
    padding: 8px 25px;
    transition: transform 1s;
  }  
.button-transition:hover{
    transform: rotate(90deg) scale(1.75) translateX(50px);
}
/* players-details styles */
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    padding-left: 180px;
    padding-right: 210px;
    padding-top: 70px;
    padding-bottom: 165px;
}
.palyer{
    width: 330px;
    height: 474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    justify-content: center;
    align-items: center;
}
.players img{
    width: 300px;
    height: 256px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 15px 0px 15px;
}
.info{
    width: 300px;
    height: 154px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    font-size: 16px;
    line-height: 26px;
}
.player-title{
    font-size: 28px;
}
/* ---------Bounsh sections Styles-------- */

/* Bonush Videos Sections */
.video-section h2{
    color: blue;
    font-size: 64px;
    padding: 20px;
}
/* Bonush Sign-up Sections */
.sign-up{
    width:100%;
    background-color: blue;
    color: white;
    margin: 100px 0px 100px 0px ;
}
.signup-form{
    padding: 15px;
}

/* Footer styles */
footer{
    text-align: center;
}
.football-logo{
    width: 227 px;
    height: 67 px;
}
.icon{
    display: flex;
    font-size: 17;
    justify-content: center;
    align-items: center;
    padding: 14px;
}
.icon a{
    height: 36px;
    width: 36px;
    color: #969BAB;
    border-radius: 50px;
    background-color:rgb(231, 231, 232);
    text-align: center;
    margin: 14px;
    line-height: 36px;
}
.copy-write p{
    font-size: 24px;
    margin: 20px;
}

/* Media Quary For Mobile Styles */
@media only screen and (max-width: 700px) {
    body{
        font-family: 'Poppins', sans-serif;
    }
    header{
        background-color: #2D25A0;
        width: 100%;
        height: 695px;
    }
    .menu{
        display: none;
    }
    .title{
        font-size: 36px;
        color: white;
    }
    .title-banner{
        display: unset;
    }
    .watch-live{
        padding: 15px;
    }
    .banner{
        padding: 15px;
    }
    .banner img{
        width: 300px;
        height: 210px;
        padding: 15px;
        }
        .button-transition{
            text-decoration: none;
            display: inline-block;
            text-align: center;
            border: none;
            color: white;
            background-color: #E02C6D;
            font-size: 16px;
          }  
        .button-transition:hover{
            transform: none;
        }
        .players{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-row: 24px;
            padding-left: 10px;
            padding-right: 16px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .sign-up{
            width: 100%;
            background-color: blue;
            color: white;
            padding: 5px;
            margin-top: 100px;
        }
        .football-logo img{
            width: 125px;
            height: 30px;
        }
        .copy-write p{
            font-size: 18px;
            margin: 20px;
        }
}